# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
start_chain.sh

# Ignite
data/
config.yml
!samplechain/config.yml
~/.samplechain

# Node
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
